<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<meta name="description" content="{{ page.description }}">
			<meta name="author" content="SOSUIG">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
		  <!-- Template variables enclosaed by brackets-->
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ssantee2001@gmail.com">email</a></li>
	        		<li><a href="https://github.com/SOSUIG">github.com/SOSUIG</a></li>
				</ul>
			</footer>
		</body>
	</html>
